# 01-How to find a version :

In [2]:
import pandas as pd 
pd.__version__

'2.2.0'

In [3]:
# another way
pd.show_versions()

INSTALLED VERSIONS
------------------
commit                : f538741432edf55c6b9fb5d0d496d2dd1d7c2457
python                : 3.12.1.final.0
python-bits           : 64
OS                    : Windows
OS-release            : 10
Version               : 10.0.19045
machine               : AMD64
processor             : Intel64 Family 6 Model 60 Stepping 3, GenuineIntel
byteorder             : little
LC_ALL                : None
LANG                  : None
LOCALE                : English_United States.1252

pandas                : 2.2.0
numpy                 : 1.26.3
pytz                  : 2023.3.post1
dateutil              : 2.8.2
setuptools            : None
pip                   : 23.2.1
Cython                : None
pytest                : None
hypothesis            : None
sphinx                : None
blosc                 : None
feather               : None
xlsxwriter            : None
lxml.etree            : None
html5lib              : None
pymysql               : None
psycopg2              : None
jinja2                : None
IPython               : 8.20.0
pandas_datareader     : None
adbc-driver-postgresql: None
adbc-driver-sqlite    : None
bs4                   : None
bottleneck            : None
dataframe-api-compat  : None
fastparquet           : None
fsspec                : None
gcsfs                 : None
matplotlib            : 3.8.2
numba                 : None
numexpr               : None
odfpy                 : None
openpyxl              : 3.1.2
pandas_gbq            : None
pyarrow               : None
pyreadstat            : None
python-calamine       : None
pyxlsb                : None
s3fs                  : None
scipy                 : None
sqlalchemy            : None
tables                : None
tabulate              : None
xarray                : None
xlrd                  : None
zstandard             : None
tzdata                : 2023.4
qtpy                  : None
pyqt5                 : None

# 02_ Make a data frame

In [7]:
df = pd.DataFrame({'A Col': [1, 2, 3], '3 Col': [4, 5, 6]}) #same length arrays made in this data frame
# print(df)
df.head()

   A Col  3 Col
0      1      4
1      2      5
2      3      6

In [16]:
# numpy array use to ceate dataframe
import numpy as np
arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
# arr
pd.DataFrame(arr)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [17]:
# another way numpy dataframe
pd.DataFrame(np.random.rand(4,8))

,0,1,2,3,4,5,6,7
0,0.346033,0.678060,0.655554,0.372022,0.470092,0.919738,0.419508,0.805813
1,0.007795,0.026261,0.048853,0.813089,0.840720,0.685709,0.107499,0.373387
2,0.626377,0.840322,0.550966,0.412064,0.044404,0.514317,0.619203,0.549832
3,0.544148,0.158411,0.089933,0.470245,0.124351,0.847418,0.781540,0.486882

In [23]:
pd.DataFrame(np.random.rand(5,8), columns=list('ABCDEFGH'))

,A,B,C,D,E,F,G,H
0,0.080491,0.423716,0.589780,0.181408,0.431727,0.148465,0.887354,0.759511
1,0.755579,0.592784,0.719981,0.499797,0.455821,0.134003,0.822107,0.243418
2,0.079155,0.919376,0.981388,0.210894,0.253488,0.207500,0.931900,0.433924
3,0.145520,0.811785,0.266955,0.911856,0.911417,0.981911,0.454920,0.919244
4,0.643435,0.829531,0.829400,0.927560,0.128617,0.906410,0.727652,0.498566


# 03_ How to rename columns :

In [24]:
df = pd.DataFrame({'A Col': [1, 2, 3], 'B Col': [4, 5, 6]}) #same length arrays made in this data frame
# print(df)
df.head()

   A Col  3 Col
0      1      4
1      2      5
2      3      6

In [32]:
df.rename(columns={'A col': 'col_a', 'B col': 'col_b' }, inplace=True)
df

   A Col  3 Col
0      1      4
1      2      5
2      3      6